<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Promised Land.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D781297B2060FCEA002E9FA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D781298F2060FCEA002E9FA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D781299A2060FCEA002E9FA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
